.header {
  z-index: 1;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  max-height: 80px;
  background-color: black;
  color: #FFe95c;
}

.title {
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 50px;
  margin: 15px auto;
}

.nav {
  text-align: center;
  list-style: none;
  min-height: 40px;
  line-height: 40px;
}

.top-nav {
  margin-top: 80px;
  margin-bottom: 0;
  background-color: #ffe95c;
}

.lower-nav {
  background-color: #5c72ff;
}

a {
  text-decoration: none;
  font-size: 20px;
  vertical-align: middle;
  padding: 9px 5px;
}

.lower {
  color: #ffe95c;
  font-size: 18px;
}

.active {
  color: #FFe95c;
  background-color: #5c72ff;
}

.active-lower {
  background-color: #495bcc;
}

.footer {
  z-index: 1;
  position: fixed;
  right: 0; bottom: 0; left: 0;
  background-color: black;
  min-height: 50px;
  margin-bottom: 0;
}

.centered {
  margin: auto;
}

input[type="text"] {
  font-size: large;
  margin-bottom: 5px;
  border-radius: 4px;
  border: 1px solid #ccc
}

input[type="number"] {
  font-size: large;
  margin-bottom: 5px;
  border-radius: 4px;
  border: 1px solid #ccc
}

.submit-button {
  color: #ffe95c;
  background-color: black;
  height: 40px;
  width: 100px;
  border-radius: 4px;
  font-size: large;
  border: 1px solid #ccc
}

.question-text-input {
  font-size: large;
  height: 250px;
  width: 400px;
}

.student-item {
  cursor: pointer;
  color: #0000EE;
}